.wrapper{
    position: relative;
    display: inline-block;
}

.popover{
    position: absolute;
    border: 1px red solid;
    left: 100%;
    top: 0%;
    white-space: nowrap;
    padding: 10px;
    margin-left: 10px;
    display: none;
}

.popover::before{
    content: '';
    border:10px solid transparent;
    border-right-color:red; 
    right: 100%;
    top: 3px;
    position: absolute;
}

.popover::after{
    content: '';
    border:10px solid transparent;
    border-right-color:white; 
    right: 100%;
    top: 3px;
    position: absolute;
    margin-right: -1px;
}